/*             Element CSS Styles         */

body {
  background-color: #84a9ac;
  font: 1.2em "Fira Sans", sans-serif;
}

hr {
  border: none;
  width: 10%;
  text-align: center;
  border-style: dotted none none none;
  border-color: #222831;
  border-width: 8px;
}

table {
  border-width: 2px;
  border-style: none;
  border-spacing: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font: 1.2em "Fira Sans", sans-serif;
}

h1 {
  color: #30475e;
  text-align: center;
  font: 1.3em "Fira Sans", sans-serif;
}

h2 {
  color: #30475e;
  text-align: center;
  font: 1.2em "Fira Sans", sans-serif;
}

h3 {
  color: #30475e;
  text-align: center;
  font: 1.2em "Fira Sans", sans-serif;
}

h4 {
  color: #30475e;
  text-align: center;
  font: 1.2em "Fira Sans", sans-serif;
}

th {
  color: #30475e;
  text-align: center;
  font: 1.2em "Fira Sans", sans-serif;
}

span {
font-size: smaller, "Roboto", sans-serif;
color: #142850;

}

/*               Class CSS Styles         */

.cat {
  filter: blur(6px);
}

img:hover.cat {
  filter: blur(0px);
  transition: .8s;
}

.lefty {
text-align: left;
}

.righty {
text-align: right;
}
/*             ID CSS Styles:       ; */
