/* START OF ELEMENT STYLES:  */
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;

}

h1 {
  margin-top: 0;
  font-size: 5.625rem;
  font-family: 'Patrick Hand SC', cursive;
  color: #211717;
}

h2 {
  margin: 0px;
  font-size: 2.5rem;
  font-family: 'Patrick Hand SC', cursive;
  color: #211717;
  padding-bottom: 20px;
}

h3 {
  margin: 0px;
  font-size: 1.8rem;
  font-family: 'Patrick Hand SC', cursive;
  color: #211717;
}

hr {
  width: 3%;
  position: relative;
  text-align: center;
  border-style: dotted none none none;
  border-color: #c1a57b;
  border-width: 8px;
  height: 20px;
  top: 10px;
}

p {

line-height: 2;

}

/* END OF ELEMENT STYLES:  */
/* START OF CLASS STYLES:  */
.topContainer {
  background-color: #c1a57b;
  position: relative;
}

.middleContainer {
  background-color: #f6d198;
}

.bottomContainer {
  background-color: #c1a57b;
  color: #f6d198;
  padding: 40px;
}

.bottomContainer a {
  padding-left: 30px;
  color: #f6d198;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 2.5rem;
  text-align: center;
  text-decoration: none;
}

.bottomContainer a:hover {
  color: #211717;
}

.bottomCloud {
  position: relative;
  left: 80px;
  bottom: 300px;
}

.topCloud {
  position: relative;
  left: 200px;
  top: 10px;
}

.mountainImage {
  position: relative;
  top: 5px;
  right: 50px;
}

.profileImage {
  max-width: 300px;
  height: auto;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #f6d198;
}

.profile {

padding-top: 30px;

}

.skillRow {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
}

.crmImage {
  width: 25%;
  float: left;
  margin: auto 30px auto auto;
}

.designImage {
  width: 25%;
  float: right;
  margin: auto auto auto 30px;
}

.webImage {
  width: 25%;
  float: left;
  margin: auto 30px auto auto;
}

.programmingImage {
  width: 25%;
  float: right;
  margin: auto auto auto 30px;
}

.myButton {
  box-shadow: 0px 1px 12px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 34px;
  text-decoration: none;
  text-shadow: -1px 1px 12px #ffee66;
  margin-bottom: 40px;
}

.myButton:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}

.myButton:active {
  position: relative;
  top: 1px;
}

/* END OF CLASS STYLES:  */
/* START OF ID STYLES:  */
/* END OF ID STYLES:  */
